---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: default
title: Tag
---

<div class="page">


{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}

{% assign rawtags = "" %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% assign ttags = tag.text | append:'--' | append:tag.bg | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %} 
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}



{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}


<h1 class="page-title">Tags: </h1>

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}

{% comment %}
=======================
Commenting out for now
=======================
{% for tag in tags %}
{% assign tag_details = tag | split:'--' %}
<span class="tag bg-{{tag_details[1]}}"><a class="text-white" href="#{{ tag | slugify }}">{{ tag_details[0] }}</a></span>
{% endfor %}

<hr class="">
{% endcomment %}


{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}

{% for tag in tags %}
  {% assign tag_details = tag | split:'--' %}

  <span id="{{ tag | slugify }}" class="tag bg-{{tag_details[1]}}"><a class="text-white" href="#{{ tag | slugify }}">{{ tag_details[0] }}</a></span>

	<ul>
    {% for post in site.posts %}

      {% assign m_rawtags = "" %}
      {% for ctag in post.tags %}
        {% assign mtag = ctag.text | append:'--' | append:ctag.bg %}
  
        {% if tag == mtag %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }} <small> -- <i class="">{{ post.date | date_to_string }}</i></small>
            </a>
          </h3>
        </li>
        {% endif %}

      {% endfor %} 

	  {% endfor %}
	</ul>
{% endfor %}
</div>