<footer>
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
    <a href="{{ site.company.url}}" class="">{{ site.company.name }}</a>.
  </span>
    
<!-- Google Analytics-->
{% if site.google_analytics and jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %}
  
</footer>
