<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      
      <h2 class="nav-title">
        <img src="{{ site.company.path.logo | relative_url }}" alt="" class="" style="height: 20px; display: inline; margin: 0;" />
        <span class="">{{ site.title }}</span>
      </h2>
    </a>
    <ul>
      <!-- <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li> -->
      <li><a href="{{ site.company.url }}">{{ site.company.name }}'s home</a></li>
      <li><a href="{{ site.baseurl }}/">posts</a></li>
      <li><a href="{{ site.baseurl }}/tags">tags</a></li>
    </ul>
  </div>
</nav>
