// Colors
$default-color: rgb(52, 74, 83);
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #4a9ae1;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;

$primary:   #FF5765;
$secondary: #4686f4;
$tertiary:  #08cf0e; //DC3522; // #FF9B71;
$quaternary:#7d08cf; // #fd5e60; 
$quinary:   #cfc708;

// Products
$lightheap: #35978f;
$divshow: #8A6FDF;
$navigator: #FF5765;
// $brandcode: #FF5765;

// Categories
$education: #4a9ae1;
$saas: #08cf0e;

$white:    #fff !default;
$black:    #000 !default;
$soft-black: #212121 !default;

$colour_map: (
  white: $white,
  black: $soft-black,

  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  quaternary: $quaternary,
  quinary: $quinary,

  lightheap: $lightheap,
  divshow: $divshow,
  navigator: $navigator,

  education: $education,
  saas: $saas,
);


// Fonts
// $serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
// $serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
// $sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
// $monospaced: Menlo, Monaco, monospace;

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto|Quicksand:300,500"  !default;
@import url($web-font-path);

// Fonts =======================================================================
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {font-family: Roboto, Lato, 'sans-serif';}
.family-code {font-family: "Courier New"; font-weight: 100;}

$serif-primary: 'Quicksand', sans-serif;
$serif-secondary: 'Quicksand', sans-serif;
$sans-serif: 'Quicksand', sans-serif;
$monospaced: Menlo, Monaco, monospace;


@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
