---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-info">
    <div class="">
      <small>
        <span>Written by</span>
        <a href="{{ page.author.link }}" class="">{{ page.author.name }}</a>
        {% if page.date %}
          <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        {% endif %}
      </small>
    </div>
    <div class="">
      <small>
        {% capture words %}
        {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains '-' %}
        {{ words | plus: 180 | divided_by: 180 | append: ' minutes to read' }}
        {% endunless %}    
      </small>
    </div>
  </div>

  <div class="post-line"></div>

  <div class="post-subtitle">
    <i class="">{{page.subtitle}}</i>
  </div>
  
  {{ content }}

  <div class="" style="padding: 10px">
    {% for tag in page.tags %}
    
    <span class="tag bg-{{tag.bg}}"><a class="text-white" href="{{ site.baseurl }}/tags#{{tag.text | slugify}}-{{tag.bg | slugify}}">{{ tag.text }}</a></span>
    {% endfor %}
  </div>

  <div class="" style="padding: 10px">
    {% include share_buttons.html %}
  </div>

  <div class="pagination">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}
  
    <a href="#" class="top">Top</a>
  </div>

</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

